table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
    margin-left: 5%;
  margin-right: 5%;
   
  }
  
  td, th {
    text-align: left;
    padding: 10px  10px;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  
  